# =========================
# IDE and Project Metadata
# =========================
.cproject
.project
.pydevproject
/.settings
**/.vscode/

# =========================
# Project-Specific Directories
# =========================
mui/*
!/mui/README

# =========================
# Build System Files (CMake)
# =========================
*/CMakeCache.txt
*/CMakeFiles/
*/cmake_install.cmake

# =========================
# Build Output, Binaries
# Output Data and Logs
# =========================
**/build/
*.dat
*.log
*/mui-ping
*/mui-pong
**/brownian*
*/vortex
*/multidomain
*/domain-coarse
*/domain-refine
**/PUSHER_FETCHER*
**/code*
**/simple
**/multi-interfaces
**/coupling_results*
**/results_right*
**/results_left*
**/results_iteration_right*
**/results_iteration_left*
**/heat-left
**/heat-right
**/3D-pseudo-diffusion-fine
**/3D-pseudo-diffusion-coarse
